In [1]:
import pandas as pd
import numpy as np

In [37]:
WBiz2020 = pd.read_csv('2020-2019 Census Business Data.csv')

In [38]:
WBiz2020.head()

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,...,EMPSZFI_LABEL,YEAR,FIRMPDEMP,RCPPDEMP,EMP,PAYANN,FIRMPDEMP_S,RCPPDEMP_S,EMP_S,PAYANN_S
0,id,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,...,Meaning of Employment size of firms code,Year,Number of employer firms,"Sales, value of shipments, or revenue of emplo...",Number of employees,"Annual payroll ($1,000)",Relative standard error of employer firms (%),"Relative standard error of sales, value of shi...",Relative standard error of number of employees...,Relative standard error of annual payroll (%)
1,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with no employees,2019,730078,298164421,0,50074562,0.8,3.6,0.0,2.4
2,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 1 to 4 employees,2019,2826849,1266736429,5632339,233431702,0.4,1.1,0.6,1.3
3,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 5 to 9 employees,2019,959641,1142368704,6329828,257601290,1.0,1.5,0.9,1.1
4,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 10 to 19 employees,2019,609335,1440258482,8211284,347772825,0.9,2.5,1.0,1.6

## Rename Columns

In [50]:
WBiz2020Sub = WBiz2020.rename(columns={'SEX':'Owners_Sex',
                         'ETH_GROUP': 'Owners_Ethnicity', 
                         'RACE_GROUP':'Owners_Race', 
                         'VET_GROUP':'Vet_Status', 
                         'RCPPDEMP':'Sales', 
                         'EMP': 'Employees', 
                         'RCPPDEMP_S':'Sales_Std_Error', 
                         'EMP_S':'Employees_Std_Error'})

## Subset Dataset

In [51]:
WBiz2020Sub.head()

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,NAICS2017_LABEL,Owners_Sex,SEX_LABEL,Owners_Ethnicity,ETH_GROUP_LABEL,...,EMPSZFI_LABEL,YEAR,FIRMPDEMP,Sales,Employees,PAYANN,FIRMPDEMP_S,Sales_Std_Error,Employees_Std_Error,PAYANN_S
0,id,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Meaning of NAICS code,Sex code,Meaning of Sex code,Ethnicity code,Meaning of Ethnicity code,...,Meaning of Employment size of firms code,Year,Number of employer firms,"Sales, value of shipments, or revenue of emplo...",Number of employees,"Annual payroll ($1,000)",Relative standard error of employer firms (%),"Relative standard error of sales, value of shi...",Relative standard error of number of employees...,Relative standard error of annual payroll (%)
1,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with no employees,2019,730078,298164421,0,50074562,0.8,3.6,0.0,2.4
2,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 1 to 4 employees,2019,2826849,1266736429,5632339,233431702,0.4,1.1,0.6,1.3
3,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 5 to 9 employees,2019,959641,1142368704,6329828,257601290,1.0,1.5,0.9,1.1
4,0100000US,NaN,United States,00,NaN,Total for all sectors,001,Total,001,Total,...,Firms with 10 to 19 employees,2019,609335,1440258482,8211284,347772825,0.9,2.5,1.0,1.6

In [52]:
WBiz2020Sub_2 = WBiz2020Sub[['Owners_Sex', 'Owners_Ethnicity', 'Owners_Race', 'Vet_Status', 'Sales', 'Employees', 'Sales_Std_Error', 'Employees_Std_Error']]

In [53]:
WBiz2020Sub_2.head()

,Owners_Sex,Owners_Ethnicity,Owners_Race,Vet_Status,Sales,Employees,Sales_Std_Error,Employees_Std_Error
0,Sex code,Ethnicity code,Race code,Veteran code,"Sales, value of shipments, or revenue of emplo...",Number of employees,"Relative standard error of sales, value of shi...",Relative standard error of number of employees...
1,001,001,00,001,298164421,0,3.6,0.0
2,001,001,00,001,1266736429,5632339,1.1,0.6
3,001,001,00,001,1142368704,6329828,1.5,0.9
4,001,001,00,001,1440258482,8211284,2.5,1.0

## Convert datatype to integer

In [65]:
WBiz2020Sub_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15312 entries, 0 to 15311
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Owners_Sex           15312 non-null  object
 1   Owners_Ethnicity     15312 non-null  object
 2   Owners_Race          15312 non-null  object
 3   Vet_Status           15312 non-null  object
 4   Sales                15312 non-null  object
 5   Employees            15312 non-null  object
 6   Sales_Std_Error      15312 non-null  object
 7   Employees_Std_Error  15312 non-null  object
dtypes: object(8)
memory usage: 957.1+ KB

In [68]:
WBiz2020Sub_2float = WBiz2020Sub_2.apply(pd.to_numeric, errors='coerce')

In [69]:
print(WBiz2020Sub_2float)

       Owners_Sex  Owners_Ethnicity  Owners_Race  Vet_Status         Sales  \
0             NaN               NaN          NaN         NaN           NaN
1             1.0               1.0          0.0         1.0  2.981644e+08
2             1.0               1.0          0.0         1.0  1.266736e+09
3             1.0               1.0          0.0         1.0  1.142369e+09
4             1.0               1.0          0.0         1.0  1.440258e+09
...           ...               ...          ...         ...           ...
15307        96.0              96.0         96.0        96.0           NaN
15308        98.0              98.0         98.0        98.0           NaN
15309        98.0              98.0         98.0        98.0           NaN
15310        98.0              98.0         98.0        98.0           NaN
15311        98.0              98.0         98.0        98.0           NaN

       Employees  Sales_Std_Error  Employees_Std_Error
0            NaN              NaN                  NaN
1            0.0              3.6                  0.0
2      5632339.0              1.1                  0.6
3      6329828.0              1.5                  0.9
4      8211284.0              2.5                  1.0
...          ...              ...                  ...
15307        NaN              NaN                  NaN
15308        NaN              NaN                  NaN
15309        NaN              NaN                  NaN
15310        NaN              NaN                  NaN
15311        NaN              NaN                  NaN

[15312 rows x 8 columns]