## Import Packages

In [1]:
import pandas as pd
import numpy as np

## Read in Data

In [2]:
WB2019=pd.read_csv(r"C:\Users\nbroo\OneDrive\Documents\Data Science Final Group Project\Women In Business Before And After The Pandemic\2019 (2018) Census Business Data-2.csv")
WB2019.head()

C:\Users\nbroo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,3,4,5,7,8,9,10,12,14,16,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GEO_ID,GEO_ID_F,NAME,NAICS2017,NAICS2017_F,INDLEVEL,NAICS2017_LABEL,INDGROUP,SECTOR,SUBSECTOR,...,PAYANN,PAYANN_PCT,FIRMPDEMP_S,FIRMPDEMP_PCT_S,RCPPDEMP_S,RCPPDEMP_PCT_S,EMP_S,EMP_PCT_S,PAYANN_S,PAYANN_PCT_S
0,id,Geo Footnote,Geographic Area Name,2017 NAICS code,2017 NAICS Footnote,Industry level,Meaning of NAICS code,Industry group,NAICS economic sector,SUBSECTOR,...,"Annual payroll ($1,000)",Percent of annual payroll (%),Relative standard error of employer firms (%),Standard error of percent of employer firms (%),"Relative standard error of sales, value of shi...","Standard error of percent of sales, value of s...",Relative standard error of number of employees...,Standard error of percent of employees (%),Relative standard error of annual payroll (%),Standard error of percent of annual payroll (%)
1,0100000US,NaN,United States,0,NaN,2,Total for all sectors,NaN,0,NaN,...,6937240308,X,0,X,1.2,X,0.5,X,0.5,X
2,0100000US,NaN,United States,0,NaN,2,Total for all sectors,NaN,0,NaN,...,454218390,14.2,0.4,0.6,1.3,66.8,1.1,61.6,1.3,67.2
3,0100000US,NaN,United States,0,NaN,2,Total for all sectors,NaN,0,NaN,...,478308387,15,0.6,0.3,3,87,1.5,68.9,2.7,77.9
4,0100000US,NaN,United States,0,NaN,2,Total for all sectors,NaN,0,NaN,...,75150602,2.4,2.5,0.1,7.8,12.4,4.8,7,4.2,10.1

## Drop Unwanted Columns

In [3]:
WB2019.drop(['GEO_ID', 'GEO_ID_F', 'NAME', 'NAICS2017_F', 'INDLEVEL', 'NAICS2017_LABEL', 'INDGROUP', 'SECTOR', 'SUBSECTOR', 'SEX_LABEL', 'ETH_GROUP_LABEL', 'RACE_GROUP_LABEL', 'VET_GROUP_LABEL', 'QDESC','QDESC_LABEL', 'BUSCHAR', 'BUSCHAR_LABEL', 'YEAR', 'FIRMPDEMP','FIRMPDEMP_PCT', 'EMP_PCT', 'PAYANN','RCPPDEMP_PCT', 'PAYANN_PCT', 'FIRMPDEMP_S', 'FIRMPDEMP_PCT_S','RCPPDEMP_PCT_S', 'EMP_PCT_S', 'PAYANN_S', 'PAYANN_PCT_S'], axis = 1, inplace = True)
WB2019.head()

,NAICS2017,SEX,ETH_GROUP,RACE_GROUP,VET_GROUP,RCPPDEMP,EMP,RCPPDEMP_S,EMP_S
0,2017 NAICS code,Sex code,Ethnicity code,Race code,Veteran code,"Sales, value of shipments, or revenue of emplo...",Number of employees,"Relative standard error of sales, value of shi...",Relative standard error of number of employees...
1,0,1,1,0,1,38405539368,128196406,1.2,0.5
2,0,1,1,0,1,2270021185,10991334,1.3,1.1
3,0,1,1,0,1,2462681905,11240900,3,1.5
4,0,1,1,0,1,413777541,1423837,7.8,4.8

## Get Unique Values of Sex Column

In [4]:
WB2019['SEX'].unique()

array(['Sex code', '1', '2', '3', '4', '96', '98', 2, 3, 4, 1, 96, 98],
      dtype=object)

### Looks like we have two types of "2". Going to view the count of each

In [5]:
WB2019.SEX.value_counts()

1           16380
1            8224
3            5285
4            5036
2            4564
3            2764
4            2587
2            2273
96            607
98            482
96            295
98            240
Sex code        1
Name: SEX, dtype: int64

### Now adding them together.

In [6]:
WB2019.SEX.value_counts().sum()

48738

## Select only rows with the value of 2

In [7]:
WB2019 = WB2019[(WB2019['SEX'].isin(['2', 2]))]

## Confirm that we have the correct number of rows

In [8]:
WB2019.shape

(6837, 9)

# Rename Columns

In [9]:
WB2019_1 = WB2019.rename(columns={'NAICS2017':'NAICS',
                                       'SEX':'Owners_Sex',
                                       'ETH_GROUP': 'Owners_Ethnicity', 
                                       'RACE_GROUP':'Owners_Race', 
                                       'VET_GROUP':'Vet_Status', 
                                       'RCPPDEMP':'Sales', 
                                       'EMP': 'Employees', 
                                       'RCPPDEMP_S':'Sales_Std_Error', 
                                       'EMP_S':'Employees_Std_Error'})

In [10]:
WB2019_1.head()

,NAICS,Owners_Sex,Owners_Ethnicity,Owners_Race,Vet_Status,Sales,Employees,Sales_Std_Error,Employees_Std_Error
9,0,2,1,0,1,1776835350,10149257,4.5,1.9
10,0,2,1,0,1,282385501,2150147,6.1,3
11,0,2,1,0,1,267427453,1499541,8.2,2.8
12,0,2,1,0,1,31555727,127916,22.3,18.4
13,0,2,1,0,1,S,"25,000 to 49,999 employees",S,S

# Convert datatype to integer

In [11]:
WB2019_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 9 to 48692
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAICS                6837 non-null   object
 1   Owners_Sex           6837 non-null   object
 2   Owners_Ethnicity     6837 non-null   object
 3   Owners_Race          6837 non-null   object
 4   Vet_Status           6837 non-null   object
 5   Sales                6837 non-null   object
 6   Employees            6837 non-null   object
 7   Sales_Std_Error      6837 non-null   object
 8   Employees_Std_Error  6837 non-null   object
dtypes: object(9)
memory usage: 534.1+ KB

In [12]:
WB2019_2 = WB2019_1.apply(pd.to_numeric, errors='coerce')

In [13]:
print(WB2019_2)

       NAICS  Owners_Sex  Owners_Ethnicity  Owners_Race  Vet_Status  \
9          0           2                 1            0           1
10         0           2                 1            0           1
11         0           2                 1            0           1
12         0           2                 1            0           1
13         0           2                 1            0           1
...      ...         ...               ...          ...         ...
48688     99           2                 1            0           4
48689     99           2                 1            0           4
48690     99           2                 1            0           4
48691     99           2                 1            0           4
48692     99           2                 1            0           4

              Sales   Employees  Sales_Std_Error  Employees_Std_Error
9      1.776835e+09  10149257.0              4.5                  1.9
10     2.823855e+08   2150147.0              6.1                  3.0
11     2.674275e+08   1499541.0              8.2                  2.8
12     3.155573e+07    127916.0             22.3                 18.4
13              NaN         NaN              NaN                  NaN
...             ...         ...              ...                  ...
48688           NaN     13805.0              NaN                  5.7
48689           NaN       974.0              NaN                 14.1
48690           NaN       103.0              NaN                 30.4
48691           NaN      1077.0              NaN                 11.8
48692           NaN         NaN              NaN                  NaN

[6837 rows x 9 columns]

In [14]:
WB2019_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6837 entries, 9 to 48692
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAICS                6837 non-null   int64
 1   Owners_Sex           6837 non-null   int64
 2   Owners_Ethnicity     6837 non-null   int64
 3   Owners_Race          6837 non-null   int64
 4   Vet_Status           6837 non-null   int64
 5   Sales                379 non-null    float64
 6   Employees            4470 non-null   float64
 7   Sales_Std_Error      379 non-null    float64
 8   Employees_Std_Error  4470 non-null   float64
dtypes: float64(4), int64(5)
memory usage: 534.1 KB

# Determine which sectors were predominantly female-owned:

In [15]:
WB2019_2.NAICS.value_counts()

0     613
54    380
31    376
62    374
44    366
56    365
42    351
81    349
72    343
61    336
48    319
52    317
71    312
23    303
53    299
51    299
55    254
21    242
99    235
22    206
11    198
Name: NAICS, dtype: int64

## The following sectors were top 5 in 2019: (1) Professional/Scientific/Technical Services; (2)Manufacturing; (3) Healthcare and Social Assistance (4) Retail Trade; and (5) Administrative and Support and Waste Management and Remediation Services.